<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <connectionStrings>
   <!-- <add name="TMSConn" connectionString="Data Source=DESKTOP-DCOA7GU\SQLEXPRESS;Initial Catalog=TMS;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
    <add name="TMSConn" connectionString="server=47.106.245.32,1433;uid=sa;pwd=Yy12345678;database=TMS" providerName="System.Data.SqlClient"/>
   <!-- <add name="TMSConn" connectionString="server=y873301753.database.windows.net;uid=azureuser;pwd=Yy18814720947;database=mydb" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <add name="Oracle Data Provider" invariant="Oracle.Managed.DataAccess" description="Oracle Data Provider for .NET" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.6.25718.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
  
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>
          <add tagPrefix="Arrow" namespace="Arrow.Framework.WebControls" assembly="Arrow.Framework" />
        </controls>
      </pages>
        <trust level="Full" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
